.center-properties {
  background: #dedede;
  width:100%;
  height:100%;
  margin:0;
  display: flex;

  display: -ms-flexbox;
}
.contact-form {
  background: #fff;
  width: 800px;
  height: 630px;
  border-radius:2px;
  margin: auto;
  justify-content: center;
  box-shadow: 0 0 10px 0px #333;
}
.circle-object {
  background: #fff;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  margin: 0 auto;
  margin-top: -100px;
  background-image: url(letter.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 3;
}
.circle-for-shadow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #333;
}
.rectangular-for-circle-shadow {
  background-color: #fff;
  width: 200px;
  height: 60px;
  margin-left: 300px;
  margin-top: -50px;
  margin-bottom: 35px;
  position: relative;
  z-index: 2;
}
.contact-form-title {
  font-family: Arial;
  font-weight: normal;
  font-size: 30px;
  margin-top: -6px;
  margin-bottom: -3.5px;
  position: relative;
  text-align: center;
}
.contact-form-text-block {
  width: 660px;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: end;
}
.contact-form-name {
  font-family: Arial;
  font-size: 20px;
  color: #333;
  background: #fff;
  box-sizing: border-box;
  width: 320px;
  height: 60px;
  margin-right: 10px;
  padding-left: 18px;
  border-radius:2px;
  border: 1px solid #e7e7e7;
}
.contact-form-name:focus {
  outline: none;
  border: 1px solid #ff4b5a;
}
.contact-form-email {
  font-family: Arial;
  font-size: 20px;
  color: #333
  background: #fff;
  box-sizing: border-box;
  width: 320px;
  height: 60px;
  margin-bottom: 15px;
  margin-left: 10px;
  padding-left: 18px;
  border-radius:2px;
  border:1px solid #e7e7e7;
}
.contact-form-email:focus {
  outline: none;
  border: 1px solid #ff4b5a;
}
.contact-form-textarea {
  font-family: Arial;
  font-size: 16px;
  color: #333
  background: #fff;
  box-sizing: border-box;
  width: 660px;
  height: 200px;
  margin-top: 15px;
  padding: 18px;
  border-radius:2px;
  border:1px solid #e7e7e7;
}
.contact-form-textarea:focus {
  outline: none;
  border: 1px solid #ff4b5a;
}
.contact-form-button-send {
  font-family: Arial;
  font-size: 18px;
  color: #fff;
  background-color: #ff4b5a;
  width: 100px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.contact-form-button-send:hover {
  background-color: #333;
}